/*font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  /* Fonts*/
  --main-font: "Poppins", sans-serif;
  --secondary-font: " Montserrat", sans-serif;
  /*Text colors*/
  --main-txt-clr: #22343d;
  --logo-txt-clr: #173a56;
  --accent-txt-clr: #02897a;
  --light-txt-clr: #fff;

  /*Bg colors*/
  --accent-bg-clr: #02897a;
  --main-bg-clr: #ffffff;
  /*Others*/
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.63;
  color: var(--main-txt-clr);
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
    color: var(--main-txt-clr);
    font-size: 32px;
    line-height: 1.5;   
}

.btn {
  min-width: 110px;
  min-height: 42px;
  padding: 9px 24px;

  font-size: 16px;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;

  color: var(--light-txt-clr);
  border-radius: 4px;
  background-color: var(--accent-bg-clr);
  border: 1px solid transparent;
}

.btn-secondary {
  color: var(--logo-txt-clr);
  border: 1px solid #bcd0e5;
  background-color: transparent;
}

/*--------Header-------------*/
.header .container {
    display: flex;
    align-items: center;
    padding: 19px 20px;
}
.logo {
  color: var(--logo-txt-clr);
  font-size: 30px;
  font-weight: 700;
  line-height: 0.93;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
}
.nav {
    
}
.nav-list {
    display: flex;
    gap: 30px;
    margin-right: 24px;
}
.nav-item {
}
.nav-link {
  color: var(--main-txt-clr);
  line-height: 1.75;
}
.nav-link:active {
   font-weight: 600;
}
.auth-list {
    display: flex;
    gap: 24px;
    margin-right: 23px;
}
.auth-item {
}
.auth-btn {
}
.switch-btn {
  padding: 0;
  border: none;
  background-color: #F3F3F3;
  border-radius: 100px;

}

/**
   |=========================
   | Hero
   |=========================
   */
   .hero {
    margin-top: 25px;
    margin-bottom: 100px;
   }
.hero .container{
    display: flex;
    gap: 35px;
    align-items: center;
}

.hero-info {
    max-width: 465px;
}
.hero-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;

    }
.hero-text {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 1.56;
}
.hero-btn {
    display: flex;
    align-items: center;
}
.hero .btn {
    margin-right: 30px;
}
.hero-video {
    display: flex;
    align-items: center;
    gap: 9px;
    text-decoration: underline;
    color: var(--accent-txt-clr);
    font-weight: 600;
    line-height: 1.5;
}

/**
|=========================
| Feature
|=========================
*/
.feature {
    margin-bottom: 50px;
    padding-bottom: 7px;
}
.feature .container {
    text-align: center;
    
}
.feature .title {
    max-width: 539px;
    margin: 0 auto 50px;
}
.feature-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    outline: 2px solid red;
    background-color: linear-gradient(180deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.00) 99.63%);
}
.feature-item {
    text-align: left;
    max-width: 255px;
}
.fa-heart {
   width: 16px;
   height: 18px; 
}
.feature .mini-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 13px;

}
.text {
    
}
.feature .btn {
    text-transform: uppercase;
}

/**
|=========================
| Management
|=========================
*/
.management .container {
    display: flex;
    gap: 84px;
    margin-bottom: 97px;
    align-items: center;
}
.container {
   
}
.info {
    max-width: 486px;
}
.pre-title {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 8px;
}
.management .title {
    margin-bottom: 25px;
}

.management .main-text {
    margin-bottom: 30px;
}

.management .mini-title {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 12px;
}

.management .medium-text {
    margin-bottom: 25px;
}

/**
|=========================
| Support
|=========================
*/
.support {
}
.support .container {
    display: flex;
    gap: 84px;
    margin-bottom: 100px;
    align-items: center;
}
.support-description {
}
.pre-title {
}
.support .title {
    margin-bottom: 25px;
}
.support .main-text {
    margin-bottom: 30px;  
}
.support-list {
  
}
.support-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.support-item:not(:last-child) {
    margin-bottom: 25px;
}

/**
|=========================
| Collaboration
|=========================
*/
.collaboration {
}
.collaboration .container {
    display: flex;
    gap: 84px;
    margin-bottom: 100px;
    align-items: center;
}
.info {
}
.pre-title {
}
.collaboration .title {
    margin-bottom: 25px;
}
.collaboration .text {
    
}
.collaboration .main-text {
    margin-bottom: 30px;
}
.collaboration .mini-title {
    margin-bottom: 12px;
}
.collaboration .medium-text {
    margin-bottom: 25px;
}
/**
|=========================
| Staff
|=========================
*/
.staff {
}
.staff .container {
    text-align: center;
    margin-bottom: 100px;
}
.staff .title {
    margin-bottom: 25px;
}
.staff .main-text {
    font-weight: 500;
    margin-bottom: 40px;
}
.staff-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 100px;
    margin-bottom: 50px;
}
.staff-items {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-basis: calc((100% - 100px)/2);
}

.staff-items .text {
    font-weight: 500;
    line-height: 1.5;
}
.staff .btn {
    font-weight: 700;
    padding: 15px 30px;
}
/**
|=========================
| News
|=========================
*/
.news .container {
    margin-bottom: 110px;
}
.news .title {
    font-size: 34px;
    margin-bottom: 10px;
}
.news .text {
    font-weight: 500;
    margin-bottom: 40px;
}
.news-list {
    display: flex;
    gap: 30px;
}
.news-item {
    flex-basis: calc((100% - 60px)/3);
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    padding: 20px 27px 40px;
    margin-bottom: 45px;
}
.news-item .text {
    line-height: 1.75;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 12px;
    }
.text-bold {
    font-weight: 700;
}
.news .mini-title {
    font-size: 24px;
    line-height: 1.67;
}
.pagination {
    margin: 0 auto;
}
/**
|=========================
| Price
|=========================
*/
.price {
}
.price .container {
    text-align: center;
}
.price .title {
    font-size: 34px;
    margin-bottom: 10px;
}
.price .text {
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 40px;
}
 .price-list {
    display: flex;
    gap: 72px;
    
   
}
.price-item {
    flex-basis: calc((100% - 2*72px/3));
    padding: 32px 71px;
    border-radius: 8px;
background: var(--main-bg-clr);
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.price-item:hover,
.price-item:active {
    border-radius: 8px;
background: #02897A;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.mini-title {
}
.btn {
}
